* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #3797D3;
    --button: #3797D3;
    --container: white;
    --BorderBottom: #9c9c9c;
}

.main__container {
    background-color: var(--background);

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
     width: 160px;
}

.login__container {
    background-color: var(--container);
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.9);

    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input__email {
    width: 70%;
    height: 30%;
    padding-left: 5px;
    font-size: 12px;
    margin-top: 40px;

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--BorderBottom);
}

.input__email:focus, .input__pass:focus{
    transition: 0.6s ease-in-out;
    border-bottom: 2px solid var(--button);
    width: 70%;
}

.input__pass {
    width: 70%;
    height: 30%;
    padding-left: 5px;
    font-size: 12px;
    margin-top: 40px;

    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--BorderBottom);
}

.btn__logar {
    margin-top: 20px;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: var(--button);
    color: white;
    font-size: 12px ;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    cursor: pointer;
}

.btn__logar:hover{
    background-color: #9c9c9c;
    transition-duration: 0.6s;
}

.link__registrar{
    margin-top: 40px;
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--background);
}

.link__registrar:hover{
    color: #9c9c9c;
    transition-duration: 0.6s;
}